.container-work-experience{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    padding: 50px;
    justify-content: center;
}
@media (max-width:1024px){
    .container-work-experience{
        padding: 50px 5%;
    }
}