* {
  font-family: 'Montserrat', sans-serif;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.acerca {
  text-align: justify;
}

.icon-tecnologies {
  height: 80px;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: center !important;
  border-radius: 10%;
  width: 170px;
}

.icon-tecnologies:hover {
  opacity: 60%;
}

.icon-tecnologies:hover span {
  display: block;
}

.icon-tecnologies span {
  display: none !important;
}

.element-icon {
  height: 80px;
  transition: 2s ease;
  font-weight: 900;
  margin: 20px;
  padding-bottom: 10px;
}

.element-icon:hover {
  border-radius: 10%;
  transition: 2s ease;
}

.element-icon:hover span {
  display: inline;
  transition: 5s ease;
  color: #0E0004;
  font-size: x-large;
  font-weight: 900;
}

.element-icon:hover span:hover {
  display: none;
}

.element-icon span {
  margin-left: -5px;
  display: none;
}

#html-icon {
  transition: 1s ease;
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg");

}

#html-icon:hover {
  transition: 1s ease;
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain.svg");
}

#css-icon {
  transition: 1s ease;

  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg");

}

#css-icon:hover {
  transition: 1s ease;

  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg");
}

#javascript-icon {
  transition: 1s ease;

  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg");
}

#javascript-icon:hover {
  transition: 1s ease;

  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg");
}

#react-icon {
  transition: 1s ease;

  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original-wordmark.svg");

}

#react-icon:hover {
  transition: 1s ease;

  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg");
}

#vue-icon {
  transition: 1s ease;

  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vuejs/vuejs-original.svg");

}

#vue-icon:hover {
  transition: 1s ease;

  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vuejs/vuejs-plain.svg");
}

#angular-icon {
  transition: 1s ease;

  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg");

}

#angular-icon:hover {
  transition: 1s ease;
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-plain.svg");
}

#flutter-icon {
  transition: 1s ease;
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flutter/flutter-original.svg");

}

#flutter-icon:hover {
  transition: 1s ease;
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flutter/flutter-plain.svg");
}

#android-icon {
  transition: 1s ease;
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/android/android-original.svg");

}

#android-icon:hover {
  transition: 1s ease;
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/android/android-plain.svg");
}

#spring-icon {
  transition: 1s ease;
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg");

}

#spring-icon:hover {
  transition: 1s ease;
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-plain.svg");
}

#node-icon {
  transition: 1s ease;
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original-wordmark.svg");

}

#node-icon:hover {
  transition: 1s ease;
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-plain-wordmark.svg");
}

#codeigniter-icon {
  transition: 1s ease;
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/codeigniter/codeigniter-plain.svg");

}

#codeigniter-icon:hover {
  transition: 1s ease;
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/codeigniter/codeigniter-plain-wordmark.svg");
}

#mysql-icon {
  transition: 1s ease;
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg");

}

#mysql-icon:hover {
  transition: 1s ease;
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-plain-wordmark.svg");
}

#postgresql-icon {
  transition: 1s ease;
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg");

}

#postgresql-icon:hover {
  transition: 1s ease;
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-plain.svg");
}

#sqlserver-icon {
  transition: 1s ease;
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/microsoftsqlserver/microsoftsqlserver-plain.svg");

}

#sqlserver-icon:hover {
  transition: 1s ease;
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/microsoftsqlserver/microsoftsqlserver-plain-wordmark.svg");
}

#mongodb-icon {
  transition: 1s ease;
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original.svg");

}

#mongodb-icon:hover {
  transition: 1s ease;
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-plain.svg");
}

#firebase-icon {
  transition: 1s ease;
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/firebase/firebase-plain.svg");

}

#firebase-icon:hover {
  transition: 1s ease;
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/firebase/firebase-plain-wordmark.svg");
}

#sqlite-icon {
  transition: 1s ease;
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sqlite/sqlite-original.svg");

}

#sqlite-icon:hover {
  transition: 1s ease;
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sqlite/sqlite-plain.svg");
}

#aws-icon {
  transition: 1s ease;
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/amazonwebservices/amazonwebservices-original-wordmark.svg");

}

#aws-icon:hover {
  transition: 1s ease;
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/amazonwebservices/amazonwebservices-plain-wordmark.svg");
}

#netlify-icon {
  transition: 1s ease;
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sqlite/sqlite-original.svg");

}

#netlify-icon:hover {
  transition: 1s ease;
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sqlite/sqlite-plain.svg");
}

#docker-icon {
  transition: 1s ease;
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg");

}

#docker-icon:hover {
  transition: 1s ease;
  background: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-plain.svg");
}

section#tecnologias.container {
  width: 100vw;
  max-width: 100vw;
  margin: 0 !important;
  padding: 0;
  background: #F0EFF4;
}

h2 {
  font-weight: bold;
  /* text-decoration: underline; */
  /* margin-bottom: 20px; */
  margin: 0;
  padding: 20px;
  background: #007EA7;
  text-decoration: none;
  color: #F0EFF4;
}

section#proyectos.container {
  /* background-color: #F5F3F5; */
  background: url("https://images.unsplash.com/photo-1629904853716-f0bc54eea481?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjR8fHByb2dyYW1tZXJ8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60");
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  max-width: 100vw;
  margin: 0 !important;
  /* padding-top: 5vh; */
  padding: 0 !important;

}

.imagen {
  background: url("images/img_ejemplo_proyecto.png");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

i {
  font-size: x-large;
  margin-right: 10px;
  cursor: pointer;
}

.enlaces-proyectos {
  justify-content: center;
}

.card {
  background: #F0EFF4;
  color: #201e1f;
  margin: 10px;
  height: 500px !important;
}

.card button {
  margin-right: 10px;
  display: none;
}

.card:hover .card-img-top .imagen {
  height: 100% !important;
  transition: 0.5s ease;
}

.card:hover .card-img-top {
  height: 100%;
  transition: 0.5s ease;
}

.card:hover .card-body {
  position: relative;
  top: -400;
  z-index: 1;
  height: 300px;
  flex-shrink: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #0e00049a;
  transition: 2s ease;
}

.card:hover {
  display: block;
  height: 500px !important;
  max-height: auto !important;
  min-height: auto !important;
  flex-shrink: inherit;
  background-color: #F5F3F5;
  transition: 2s ease;

}

.card {
  transition: 2s ease;
  border-radius: 20px !important;
  overflow: hidden;
}

.card:hover .card-footer {
  position: relative;
  top: -400;
  z-index: 1;
  transition: 2s ease;
}

.card:hover button {
  transition: 1s ease;

  display: inline;
}

.ReactModal__Overlay {
  z-index: 2;
}

.control-dots {
  height: 20px;
  padding-top: 5px !important;
}

.carousel-root {
  height: 650px;
}

.carousel.carousel-slider {
  height: 650px;

}

.dot.selected {
  background-color: #52489C !important;
  color: #52489C;
}

#contacto {
  padding-top: 50px;
  width: 100%;
  max-width: 100%;
  margin: 0 !important;
}

#contenido-inicial {
  height: 90%;
}

#contenido-inicial {
  position: relative;
  width: 100%;
  height: 90%;
  overflow: hidden;
}

#contenido-inicial {
  background-color: #0e000485;
  padding: 0;
  margin: 0;
}

#contenido-inicial video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#elementos-contenido-inicial {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #ffffff;
  width: 100%;
  max-width: 100%;
  height: 100%;
  /* background-color: #0e000498; */
  display: flex;
  flex-direction: row;
}

#elementos-contenido-inicial {
  padding: 0;
  margin: 0;
  border-bottom: solid 7px #f0eff4;
  background: url("https://images.unsplash.com/photo-1541240290619-3f2fad86473d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background:url("images/fondo_img_1_photoshop.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

#parte_imagen {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #201e1fa1;

}

#parte_texto {
  width: 40%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 25px;
  text-align: center;
  color: #201E1F;
  background: #f0eff4eb;
  margin: auto 5%;
  border: 6px solid #007ea7;
  border-radius: 20px;
}

#parte_texto button {
  width: 50%;
  margin: 0 auto;
  background-color: #54af98;
  color: white;
}

#parte_texto h1 {

  /* background-image: linear-gradient(90deg, #f5f3f5, #2cf6b3, #48acf0,#52489c) !important; */
  /* background-image: linear-gradient(90deg, #54af98, #000fe1, #ea7417, #f22c70) !important;
  animation: mymove 5s infinite;
  background-size: 400% !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;

  font-size: 100px;
  font-family: 'Boogaloo', cursive;
  letter-spacing: 10px;
  font-weight: 600;
  word-spacing: 5px;
  -webkit-text-stroke: 1px rgba(126, 126, 126, 0.692);
  text-stroke: 1px rgba(126, 126, 126, 0.692); */
  background-image: linear-gradient(0deg, #007EA7, #007EA7, #F0EFF4) !important;
  animation: mymove 5s infinite;
  background-size: 400% !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  font-size: 100px;
  font-family: 'Boogaloo', cursive;
  letter-spacing: 10px;
  font-weight: 600;
  word-spacing: 5px;
  -webkit-text-stroke: 1px rgba(126, 126, 126, 0.692);
}

@keyframes mymove {
  from {
    background-position: 0%;
  }

  to {
    background-position: 400%;
  }
}

/* @-webkit-keyframes animate {
  from {
    background-position: 0%; }

  to {
    background-position: 400%; } 
}
#parte_texto h1{
  position: absolute;
  top: 35%;
  left: 20%;
  background-image: linear-gradient(90deg, blue, green, red) !important;
  background-size: 400% !important;
  font-size: 100px;
  font-family: sans-serif;
  letter-spacing: 10px;
  font-weight: 600;
  word-spacing: 5px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text !important;
  animation: animate 10s linear infinite !important;
  -moz-animation: animate 10s linear infinite !important;
  -webkit-animation: animate 2s linear infinite !important;
  -o-animation: animate 10s linear infinite !important;
} */

#img_perfil {
  background-image: url(http://localhost:3000/static/media/captura_imagen-removebg.58eb241be7b52a3ac6ad.png);
  width: 500px;
  height: 500px;
  background-size: cover;
  border-radius: 10%;
  border: 6px solid #f0eff4;
}

section#acerca-de {
  /* background-color: #289af7; */
  background-color: #201e1f;
  margin: 0 !important;
  width: 100%;
  max-width: 100%;
  color: #54af98;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
}

section#acerca-de #acerca-de-texto {
  width: 50%;
  padding: 5%;
  background-color: #007EA7;
  color: #F0EFF4;
  border-radius: 20px;
  /*border: 2px solid #54af98;*/
}

#acerca-de-gift {
  width: 60%;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#acerca-de-gift img {
  /* animation: infinite-rotation 5s infinite linear; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes infinite-rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  color: #fff;
  font-weight: bolder;
  padding: 10px;
  justify-content: center;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav li {
  margin-right: 10px;
}

.nav li:last-child {
  margin-right: 0;
}

.nav a {
  color: #201e1f;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

#navegador .nav {
  line-height: 40px;
  background: #F0EFF4;
  color: #201e1f !important;
}

.nav a:hover {
  background-color: #555;
}

.carousel-root {
  background: #201e1fb5;
  padding-top: 10px;
  height: 700px;
}

#contenedor-technologies {
  padding-top: 20px;
}

#tecnologias-contenedor {
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: 90%;
  margin: auto;
  text-align: center;
}
#tecnologias-contenedor .row{
  justify-content: center;
}